// Global default params, used in configs
params {
  samplefile = null
  outdir = "results"
}

// Singularity environment parameters
singularity {
  enabled     = true
  autoMounts  = true
  cacheDir = '/nfs/cellgeni/singularity/images/'
  runOptions = '-B /lustre,/nfs'
}

// Configuring LSF job submission parameters for each process
executor {
  name = 'lsf'
  perJobMemLimit = true
}

process {
  withLabel: filter {
    cpus = 4
    memory = 64.GB
    queue = "long"
  }

  withName: bc_process {
    cpus = 1
    memory = 8.GB
    queue = "normal"
    container = '/nfs/cellgeni/tickets/tic-2598/actions/GBM_DBIT.sif'
  }
  
 withName: cell_ranger {
    cpus = 16
    memory = 128.GB
    queue = "long"
  }
 
}

// Capturing Nextflow log files into a reports directory
timeline {
   enabled = true
   file = "reports/timeline.html"
   overwrite = true
}

report {
   enabled = true
   file = "reports/report.html"
   overwrite = true
}

trace {
   enabled = true
   file = "reports/trace.txt"
   overwrite = true
}

// Ensures work directories and removed when pipeline completes
cleanup = true
